<div class="main-container">
  <div class="main-container_child">
    <p class="label-text">Компания</p>
    <div class="p-autocomplete-block">
      <p-autoComplete #autoCompleteForm (click)="openList()" [(ngModel)]="company" [dropdownMode]="'current'" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%', 'font-size': '14px'}" [suggestions]="websites" (completeMethod)="search($event)" [field]="'name'">
        <ng-template let-website pTemplate="item">
          <div class="list-item-block">
            <img src="{{website?.logo}}" class="list-item-block_img" alt="Картинка"/>
            <div class="list-item-block_info">
              <p class="text-name">{{website?.name}}</p>
              <p class="label-text lighter">{{website?.domain}}</p>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
</div>
